[Unit]
Description=Mode Control Entity (MCE)
DefaultDependencies=no
Requires=dbus.socket
After=dbus.socket
After=local-fs.target
Before=basic.target
Conflicts=shutdown.target

[Service]
Type=notify
ExecStart=/usr/sbin/mce --systemd
Restart=always
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/100000/dbus/user_bus_socket

[Install]
WantedBy=multi-user.target
